body {
    font-family: 'JioType', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sky_blue_bg {
    background: #F7FCF9;
}
.darkgreen_bg {
    background: #129048;
}

.light_yellow_bg {
    background: #FDF9E7;
}

.jio_max_1640 {
    max-width: 1660px;
    padding: 0 15px;
    margin: 0 auto;
}

.jio_max_1334 {
    max-width: 1334px;
    padding: 0 15px;
    margin: 0 auto;
}
.jio_social {
    &.content-area{
        display: flex;
        gap: 60px;
        align-items:center;
    }

    &--link {
        width: 36px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 6px;
        background: #129048;
        margin-right: 10px;
        @include easeInOut();

        svg path {
            fill: #fff;
            @include easeInOut();
        }

        &:hover {
            background: #fff;
            border: #129048 1px solid;

            svg path {
                fill: #129048;
            }
        }
        &.tw{
            background: #00acee;
        }
        &.in{
            background: #0077b5;
        }
        &.yt{
            background: #FF0000;
        }
        &.fb{
            background: #3b5998;
        }
        svg path {
            fill: #fff;
            @include easeInOut();
        }

        &:hover {
            background: #fff;
            border: #129048 1px solid;
            svg path {
                fill: #129048;
            }
        }
    }
    
    &.sticky{
        position: fixed;
        right: 0;
        top: 40%;
        z-index: 3;
        @media (max-width:767px) {
            display: none;
        }
        .jio_social--link {
            display: flex;
            margin-right:0;
            width: 40px;
            height: 40px;
            border-radius: 0;
            
        }
    }
}

.jio_flex {
    display: flex;
    align-items: center;

    .jio_social {
        margin-left: 40px;
    }
}

.redmessage {
    width: 100%;
    font-size: 12px;
    color: red;
    margin-bottom:15px;
}
.thanksMsg {
    display: none;
    text-align: center;
    padding: 5% 7%;
    align-items: center;
    justify-content: center;
    background: #1290480d;
    border-radius: 30px;
    h2{font-size: 22px;}
}

.-text_green {
  color: $green;
}

.-text_yellow {
  color: $yellow;
}

.pill_underline {
  position: relative;
  display: block;
  border-radius: 10px;
  width: 40px;
  height: 4px;
  &.-yellow {
    background-color: $yellow;
  }
  &.-green {
    background-color: $green;
  }
}

.form-control {
    position: relative;
}

input.form-control {
  border: 0;
  border-radius: 6px;
  font-family: JioType;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: $black;
  height: 60px;
  padding: 20px 30px;
  &::placeholder {
    font-family: JioType;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: #080808;
    opacity: 0.3;
  }
}

.container.-custom {
    max-width: 1216px;
}