$yellow : #FFE041;
$green: #018837;
$greenL: #73BE1E;
$white: #FFFFFF;
$white2: #fcfcfc;
$black: #111111;
$gradientgreen: linear-gradient(to right, $green,#68a81e);
$gradientyellow: linear-gradient(to right, $yellow 0%, #fff088 100%);;
$gray: #ededed;
$gray2: #808080;
$border10: 10px;