<section class="fual-station jiobp_curve">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="floating-Container">
                    <h2 class="block_info--title" data-aos="fade-up">
                        {{ content.field_mtitle.0 }}
                    </h2>
                    <span class="pill_underline" data-aos="fade-up"></span>
                    {{ content.body.0 }}
                </div>
            </div>
            <div class="col-md-6">
                <picture>
                    <img src="{{ content.field_mupload_image.0 }}" alt="img" data-aos="fade">
                </picture>
            </div>
        </div>
    </div>
</section>