<section class="vision" style="background: #38992a url({{ content.field_mupload_image.0 }}) no-repeat;background-attachment: fixed; background-position: top left !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="floating-Container" data-aos="fade-up">
                    <h1 class="block_info--title" data-aos="fade-up">
                        {{ content.field_mtitle.0 }}
                    </h1>
                    <span class="pill_underline" data-aos="fade-up"></span>
                    <p class="block_info--desc" data-aos="fade-up">
                        {{ content.body.0 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>