<section class="mission jiobp_curve" style="background: url({{ content.field_mupload_image.0 }}) no-repeat;background-attachment: fixed;background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="floating-Container" data-aos="fade">
                    <h2 class="block_info--title" data-aos="fade-up">
                        {{ content.field_mtitle.0 }}
                    </h2>
                    <span class="pill_underline" data-aos="fade-up"></span>
                    <p class="block_info--desc" data-aos="fade-up">
                        {{ content.body.0 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>