<section>
    <div class="container cafe">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ content.field_mupload_image.0 }}" alt="{{ content.field_mtitle.0 }}" class="img-fluid" data-aos="fade-up" />
            </div>
            <div class="col-md-6 align-self-center">
                <div class="cafe_text_contain">
                    <h2 class="title" data-aos="fade-up">{{ content.field_mtitle.0 }}</h2>
                    <span class="pill_underline -green" data-aos="fade-up"></span>
                    <p class="subtitle" data-aos="fade-up">{{ content.body.0 }}</p>
<div class="imgblock-info"><a href="/sites/default/files/2023-08/WBC%20-%20All%20india%20store%20locations.pdf" class="btn-light aos-init aos-animate" target="_blank">Locate a WBC outlet</a>
                </div></div>
            </div>
        </div>
    </div>
</section>