<section class="why-choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 align-self-center">
                <h1 class="block_info--title" data-aos="fade-up">
                    Built around <br class="d-none d-xl-block d-lg-block d-md-block"> three core<br class="d-none d-xl-block d-lg-block d-md-block"> pillars
                </h1>
                <span class="pill_underline mb-4" data-aos="fade-up"></span>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="why-choose--card mt-0" data-aos="fade-up">
                    <span class="feature-num" data-aos="fade-up">01</span>
                    <p class="card-desc" data-aos="fade-up">
                        {{ content.field_core_pillars_1.0 }}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="why-choose--card mt-0" data-aos="fade-up">
                    <span class="feature-num" data-aos="fade-up">02</span>
                    <p class="card-desc" data-aos="fade-up">
                        {{ content.field_core_pillars_2.0 }}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="why-choose--card mt-0" data-aos="fade-up">
                    <span class="feature-num" data-aos="fade-up">03</span>
                    <p class="card-desc" data-aos="fade-up">
                        {{ content.field_core_pillars_3.0 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>