<section class="our-feature">
    <div class="container">
        <div class="row">
        {% if content.field_our_features %}
            {% for key, item in content.field_our_features if key|first != '#' %}
            <div class="col-md-6">
                <div class="our_feature--card" data-aos="fade-up">
                    <picture data-aos="fade-up">
                        <img src="{{ file_url(item['#paragraph'].field_oficon.entity.fileuri) }}" alt="{{ item['#paragraph'].field_oftitle[0].value|raw }}" width="108px">
                    </picture>
                    <h2 class="card-title" data-aos="fade-up">
                        {{ item['#paragraph'].field_oftitle[0].value|raw }}
                    </h2>
                    <p class="card-desc" data-aos="fade-up">
                        {{ item['#paragraph'].field_oftext[0].value|raw }}
                    </p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</section>