<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10879374092"></script> 
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10879374092'); </script>

<script async src="https://www.googletagmanager.com/gtag/js?id=DC-11922037"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'DC-11922037');
</script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1455967091491654');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1455967091491654&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<section>
    <div class="container vision">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ content.field_mupload_image.0 }}" alt="{{ content.field_mtitle.0 }}" class="img-fluid" data-aos="fade-up" />
            </div>
            <div class="col-md-6 align-self-center">
                <div class="vision_text_contain">
                    <h2 class="title" data-aos="fade-up">{{ content.field_mtitle.0 }}</h2>
                    <span class="pill_underline -bg_blue" data-aos="fade-up"></span>
                    <p class="subtitle" data-aos="fade-up">{{ content.body.0 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
